<h1 mat-dialog-title>{{title}}</h1>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name"/>
    <mat-error *ngIf="form.get('name').errors?.required">Поле Name не может быть пустым. </mat-error>
    <mat-error *ngIf="form.get('name').errors?.minlength || form.get('name').errors?.maxlength">Введите корректный Name (от 2 до 50 символов). </mat-error>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="save()">Edit</button>
</mat-dialog-actions>
