<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>{{ 'LOG_IN.TITLE' | translate }}</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" class="example-form" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="{{ 'LOG_IN.INPUT.LOGIN' | translate }}" formControlName="login">
          <mat-error *ngIf="form.get('login').errors?.required">
            {{ 'LOG_IN.INPUT.LOGIN' | translate }} {{ 'ERROR_MESSAGES.EMPTY_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="form.get('login').errors?.minlength || form.get('login').errors?.maxlength">
            {{ 'LOG_IN.INPUT.LOGIN' | translate }} {{ 'ERROR_MESSAGES.INCORRECT_LENGTH' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="{{ 'LOG_IN.INPUT.PASSWORD' | translate }}"
                 formControlName="password">
          <mat-error *ngIf="form.get('password').errors?.required">
            {{ 'LOG_IN.INPUT.PASSWORD' | translate }} {{ 'ERROR_MESSAGES.EMPTY_FIELD' | translate }}
          </mat-error>
          <mat-error *ngIf="form.get('password').errors?.minlength || form.get('password').errors?.maxlength">
            {{ 'LOG_IN.INPUT.PASSWORD' | translate }} {{ 'ERROR_MESSAGES.INCORRECT_LENGTH' | translate }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block"
              [disabled]="form.invalid">{{ 'LOG_IN.BUTTON.LOGIN' | translate }}</button>
      <p class="message">
        {{ 'LOG_IN.MESSAGE.NOT_REGISTERED' | translate }} <a [routerLink]="'/register'">{{ 'LOG_IN.LINK.REGISTER' | translate }}</a>
      </p>
    </form>

    <mat-select [(value)] = "selectedLang" (selectionChange)="changeLocale($event.value)">
      <mat-label>{{ 'LANGUAGE_TAG.NAME' | translate }}</mat-label>
      <mat-option value="ru">{{ 'LANGUAGE_TAG.RUSSIAN' | translate }}</mat-option>
      <mat-option value="en">{{ 'LANGUAGE_TAG.ENGLISH' | translate }}</mat-option>
    </mat-select>

  </mat-card>

</div>
