<h1 mat-dialog-title>Edit Profile</h1>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName"/>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last Name" formControlName="lastName"/>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="save()">Edit</button>
</mat-dialog-actions>
