<h1 mat-dialog-title>{{ 'ACTION.ADD_LESSON' | translate }}</h1>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="{{ 'JOURNAL.CLASS_DATE' | translate }}" formControlName="lessonDate">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ 'ACTION.CLOSE' | translate }}</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="save()">{{ 'ACTION.ADD' | translate }}</button>
</mat-dialog-actions>
