/*mat-table {*/
/*  width: 100%;*/
/*  overflow-x: auto;*/
/*  overflow-y: hidden;*/
/*  min-width: 500px;*/
/*}*/

/*th.mat-header-cell {*/
/*  text-align: left;*/
/*  max-width: 300px;*/
/*}*/

mat-cell.my-cell-hover:hover{
  background:	 #E2E2E2;
}
mat-cell{
  display:flex;
  justify-content: center;
}
mat-header-cell{
  display:flex;
  justify-content: center;
}
